body { padding-top: 70px; }

.thumbnail {
  h4 { margin-top: 0; }
  .fa.pull-right { padding-top: 2px; }
}

.list-group {
  i { margin-right: 10px; }
  a:nth-child(1) i { margin-right: 6px; }
  a:nth-child(2) i { margin-right: 15px; }
}

.ta-toolbar {
  background-color: #F0F0F0;
  padding: 10px 10px 5px;
  margin-left: 0px;
  border: 1px solid #EEE;  
  .btn-group { margin-bottom: 5px; }
}

.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
  margin-left: 5px;
}

.ta-editor, .white-box {
  border-radius: 0;
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #EEE;
  height: auto;
}

.ta-scroll-window > .ta-bind {
  height: auto;
  min-height: 300px;
  padding: 6px 12px;
}

.note-footer { margin-top: 20px; }

#status-selector { padding-right: 25px; }
