<navbar></navbar>

<section ng-init="statusFilter = ''; strict = false">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a href="#" class="list-group-item" ng-click="statusFilter = ''; strict = false">
            <i class="fa fa-files-o" aria-hidden="true"></i> Todas
          </a>
          <a href="#" class="list-group-item" ng-click="statusFilter = 'active'; strict = true">
            <i class="fa fa-bolt" aria-hidden="true"></i> Ativas
          </a>
          <a href="#" class="list-group-item" ng-click="statusFilter = 'inactive'; strict = true">
            <i class="fa fa-ban" aria-hidden="true"></i> Inativas
          </a>
          <a href="#" class="list-group-item" ng-click="statusFilter = 'draft'; strict = true">
            <i class="fa fa-pencil" aria-hidden="true"></i> Rascunhos
          </a>
          <a href="#" class="list-group-item disabled">
            <i class="fa fa-star" aria-hidden="true"></i> Minhas
          </a>
        </div>
        <br>
        <div class="text-center">
          <a href="#/note/" class="btn btn-lg btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> Nova Nota
          </a>
        </div>
        <br>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div ng-repeat="note in homeCtrl.notes | filter:statusFilter:strict:comparator:status">          
            <div class="col-sm-6 col-lg-6 col-md-6">
              <div class="thumbnail">
                <div class="caption">
                  <div class="note-title">
                    <a data-toggle="modal" data-target="#myModal" ng-click="homeCtrl.openModal(note)">
                      <i class="fa {{ note.faClass }} pull-right" aria-hidden="true"></i>
                      <h4>{{ note.title | limitTo:30 }}</h4>
                      <hr>
                    </a>
                  </div>
                  <div class="note-body" ng-bind-html="note.body | limitTo:460"></div>
                </div>
                <div class="note-footer row">
                  <div class="col-xs-6 text-left">
                    <a ng-click="homeCtrl.goNote(note.id)" class="btn btn-xs btn-info">Editar</a>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p><i class="fa fa-eye" aria-hidden="true"></i> {{ note.views }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel"><b>{{ homeCtrl.modalNote.title }}</b></h3>
        </div>
        <div class="row">
          <div class="col-xs-10 text-left">
            <p><b>Primeira visualização:</b> {{ homeCtrl.modalNote.first_seen }}</p>
          </div>
          <div class="col-xs-2 text-right">
            <p>
              <i class="fa {{ homeCtrl.modalNote.faClass }} modal-fa" aria-hidden="true"></i>
              <i class="fa fa-eye" aria-hidden="true"></i>
              {{ homeCtrl.modalNote.views }}
            </p>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div ng-bind-html="homeCtrl.modalNote.body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Fechar</button>
      </div>
    </div>
  </div>
</div>
